:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--color-white);
}

/**
  |============================
  | Header
  |============================
*/

.link-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-iris);
}
.logo-part {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.link-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-navy-blue);
}
.link-item:active,
.link-item:hover,
.link-item:focus {
  text-decoration: underline;
  color: #404bbf;
}
.header-address {
  font-style: normal;
}
.link-addres-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-slate);
}

/**
  |============================
  | Main
  |============================
*/
/* hero-section */
.hero-section .title {
  background: #2e2f42;
  color: #ffffff;
}
.btn {
  background: #4d5ae5;
  color: #ffffff;
}
.btn:hover {
  background: #404bbf;
}
/* Why we */
.why-we .title {
  color: #2e2f42;
}
.subtitle {
  color: #2e2f42;
}
.text {
  color: #434455;
}
/* section */
.section .title {
  color: #2e2f42;
}
/* team */
.team .title {
  color: #2e2f42;
}
.name {
  color: #2e2f42;
}
.post {
  color: #434455;
}
/* footer */
.footer {
  background: #2e2f42;
}
.footer .link-logo {
  font-family: "Raleway";
  font-weight: 800;
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
}
